#logo {
    height: 75px;
    background-color:#FFF;
}

#menu {
	overflow:hidden; /* wrap floats */
	height:30px; /* trips haslayout, wrap floats IE */
	list-style:none;
	font:bold 14px/30px sans-serif;
    background-color:#072D50;
}


#menu li {
	display:inline;
}

#menu a {
	padding:15px 15px 15px 15px;
	text-decoration:none;
	color:#CEDBE7;
}


#menu .current a {
	top: 0px;
	background-color:#3C6F9E;
}

#menu a:active,
#menu a:focus,
#menu a:hover {
	background-color:#3C6F9E;
}

#latlng a {
	position:absolute;
    top: 80px;
    right: 30px;
    color: #CEDBE7;
    font: 12px Arial, Tahoma, Helvetica, sans-serif;
}

#permalinkicon {
	position:absolute;
    top: 10px;
    right: 127px;
}

#permalink a {
	position:absolute;
    top: 8px;
    right: 10px;
    color: #CEDBE7;
    font: bold 14px Arial, Tahoma, Helvetica, sans-serif;
}

